<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="~/Content/ForGallery/default.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/ForGallery/component.css" />

	<script src="~/Content/ForGallery/modernizr.custom.js"></script>
</head>
<body>
	<div class="container">
		<ul class="grid effect-1" id="grid">
			<li> <img src="~/Content/ForGallery/images/12.jpg"> </li>
			<li><img src="~/Content/ForGallery/images/13.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/10.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/11.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/2.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/14.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/1.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/3.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/4.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/5.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/6.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/7.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/8.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/9.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/12.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/13.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/10.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/11.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/2.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/14.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/1.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/3.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/4.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/5.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/6.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/7.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/8.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/9.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/12.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/13.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/10.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/11.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/2.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/14.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/1.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/3.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/4.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/5.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/6.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/7.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/8.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/9.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/12.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/13.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/10.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/11.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/2.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/14.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/1.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/3.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/4.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/5.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/6.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/7.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/8.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/9.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/12.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/13.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/10.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/11.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/2.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/14.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/1.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/3.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/4.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/5.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/6.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/7.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/8.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/9.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/12.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/13.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/10.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/11.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/2.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/14.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/1.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/3.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/4.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/5.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/6.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/7.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/8.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/9.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/3.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/5.jpg"> </li>
			<li> <img src="~/Content/ForGallery/images/2.jpg"> </li>
		</ul>
	</div>
	<script src="~/Content/ForGallery/masonry.pkgd.min.js"></script>
	<script src="~/Content/ForGallery/imagesloaded.js"></script>
	<script src="~/Content/ForGallery/classie.js"></script>
	<script src="~/Content/ForGallery/AnimOnScroll.js"></script>
	<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
	</script>
</body>
