<link rel="stylesheet" href="~/Content/mybootstrap.css">
<link rel="stylesheet" href="~/Content/SupaStyling.css">


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>Masterpiece store</h1>
    <p>art is closer than you think</p>
    <!--  <img src="theme.jpg" class="img-fluid" alt="Responsive image"> -->
</div>

@Html.Partial("ForGallery")